<?xml version="1.0" encoding="utf-8"?>
     <configuration>
     <system.webServer>
       <handlers accessPolicy="Read, Script">
        <remove name="Python27_via_FastCGI" />
        <remove name="Python34_via_FastCGI" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\shubha.ks\AppData\Local\Programs\Python\Python36\python.exe|C:\Users\shubha.ks\AppData\Local\Programs\Python\Python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
       </handlers>
     </system.webServer>
     <appSettings>
       <!-- Required settings -->
       <add key="WSGI_HANDLER" value="app.app" />
       <add key="PYTHONPATH" value="C:\network_automation\python" />

       <add key="WSGI_LOG" value="C:\network_automation\python\my_app.log" />
     </appSettings>
     </configuration>